.wrapper {
  background-color:rgb(253, 247, 240);
  height: 100vh;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.contents {
  padding: 2rem;
  padding-top: 5rem;
  position: relative;
}
.button {
  width: auto;
  font-size: small;
}
.name {
  font-size: larger;
  font-weight: bold;
}
.detailWrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 1rem;
}
.detail {
  width: 100%;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.list {
  overflow:hidden;
  word-wrap:break-word;
}

@media (min-width: 376px) {
  .detail {
    font-size: 10px;
  }
  .reviews {
    font-size: 13px;
  }
}

#inform {
  background-color: rgb(253, 247, 240);
}

.reviewWrapper {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  overflow-x: scroll;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 10px;
}

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: left;
}

.profilePhoto {
  width: 30px;
  margin-right: 5px;
  display: inline-block;
}

.author {
  display: inline;
  font-weight: bold;
}

.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.rating {
  font-size: 13px;
}

.time {
  font-size: 13px;
}

.text {
  font-size: 13px;
}

.alertContents {
  height: 100vh;
  padding: 5rem;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
}
.alertContents div {
  width: 100%;
}

.dog2 {
  margin-top: 3rem;
}

.type {
  width: 100%;
  font-size: small;
  color: rgb(129, 129, 129, 0.8);
}