.wrapper {
  background-color:rgb(253, 247, 240);
  height: 100vh;
  position: relative;
  /* overflow-y: auto; */
}
.searchBar {
  justify-content: center;
  display: flex;
}
.input{
  padding-top: 90px;
  width: 300px;
  height: 15px;
}

.button {
  width: 50px;
  position: relative;
  display: flex;
  align-items: center;

}

.searchImg {
  position: absolute;
  width: 25px;
}

.result {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  /* background-color: rgba(235, 235, 235, 1); */
  background-color: rgb(253, 247, 240);
  border-radius: 40px 40px 0px 0px;
  filter:
    drop-shadow(0 3px 4px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 3px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 8px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1));
  animation: fadeIn 1.5s ease-in-out;
  
}

.informBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    transform: translateY(70px);
  }
  to {
    transform: none;
  }
}

.dogImg {
  width: 50%;
  padding-top: 10%;
}

.notice {
  font-size: larger;
  font-weight: 700;
}

.cardBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* position: relative; */
  align-items: flex-start;
  background-color: white;
  /* filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.32)); */
  border-radius: 10px;
  width: 70%;
  height: 90%;
  filter:
  drop-shadow(0 3px 3px rgba(0, 0, 0, 0.1))
}

.title {
  padding: 1rem;
  font-size: large;
  font-weight: bold;
}

.contentBox {
  font-size: small;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 0.3rem;
}

.contentBox span {
  word-break:break-all;
  text-align: left;
}
.contentBox img {
  width: 0.8rem;
  margin-right: 0.5rem;
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.placeImg {
  width: 200px;
  height: 100%;
  object-fit: cover;
}